header{
    background-color: #0c2645;
}

img{
    max-width: 100%;
  }

#header{
    width: 1440px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
    position: relative;
}




h1{
    width: 150px;
}

.nav{
    position: absolute;
    bottom: 0; left: 200px;
}
.nav>ul{
    display: flex;
}
.nav>ul>li{
    margin-right: 25px;
}
.nav>ul>li>a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
.nav>ul>li:hover{
    background-color: #fff;
}
.nav>ul>li:hover>a{
    color: #000;
}

.sub{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sub>.lang{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.sub>.lang>dt:hover+dd{
    display: block;
}
.sub>.lang>dd{
    display: none;
    width: 15%;
    background-color: #fff;
    position: absolute;
    right: 0; top: 50%;
    padding: 20px 20px 0;
    text-align: center;
    border: 2px solid greenyellow;
    color: #000;
}
.sub>.lang>dd>dl{
    margin-top: 20px;
}
.sub>.lang>dd>dl>dd{
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.sub>.search{
    display: flex;
    font-size: 20px;
}
.sub>.search>dt{
    margin-right: 10px;
}
.sub>.search>dt>input{
    width: 150px;
    line-height: 20px;
    text-indent: 10px;
}
.sub>.search>dd{
    color: #fff;
}